/* Font */
@font-face {
  font-family: "Optii";
  src: url(OPTIImprovNewWideNine.otf);
}

/* body */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Optii";
  box-sizing: border-box;
}

/* Front Page */
.firstPage {
  margin-top: 15%;
  height: 70vh;
  margin-bottom: 0;
}

.headerBox {
  display: flex;
  justify-content: center;
  transition: .5s;
}

.headerBox:hover {
  opacity: .5;
}

.headerBox:hover ~ .linksBox a {
  opacity: 1;
}

.headerBox:hover ~ .quoteBox .quote {
  opacity: 1;
}

.header {
  text-align: center;
  font-weight: 400;
  width: fit-content;
}

.header a {
  text-decoration: none;
  color: white;
}

.linksBox {
  display: flex;
  justify-content: center;
}

.links {
  text-align: center;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 85%;
  opacity: .6;
  transition: .5s;
}

.links a:hover {
  opacity: 1;
}

.quoteBox {
  display: flex;
  justify-content: center;
}

.quote {
  text-align: left;
  margin-top: 4%;
  width: 22%;
  font-size: 85%;
  transition: .5s;
  opacity: .6;
}

.quote a {
  text-decoration: none;
  color: white;
  opacity: .6;
}

.quote:hover {
  opacity: 1;
}

.quote p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Second Page */
.secondPage {
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin: 0 10% 5% 10%;
}

.secondPage p {
  font-weight: 100;
  font-family: sans-serif;
}

.secondHeader {
  display: flex;
  align-items: center;
}

.secondHeader h3 {
  opacity: .6;
  margin-left: 10%;
}

/* Contact & Stay Connected */
.footer {
  margin-top: 4%;
}

.footer a {
  text-decoration: none;
  color: white;
}

.contact {
  width: 50%;
}

.break {
  flex-basis: 100%;
  height: 0%;
}