/* Font */
@font-face {
  font-family: 'Optii';
  src: url(OPTIImprovNewWideNine.otf);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* body */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Optii';
  box-sizing: border-box;
}

/* Front Page */
.firstPage {
  margin-top: 15%;
  height: 70vh;
  margin-bottom: 0;
}

.headerBox {
  display: flex;
  justify-content: center;
  transition: 0.5s;

  animation: fadein 2s;
}

.headerBox:hover {
  opacity: 0.5;
}

.headerBox:hover ~ .linksBox a {
  opacity: 1;
}

.headerBox:hover ~ .quoteBox .quote {
  opacity: 1;
}

.header {
  text-align: center;
  font-weight: 400;
  width: fit-content;
}

.header a {
  text-decoration: none;
  color: white;
}

.linksBox {
  display: flex;
  justify-content: center;
  animation: fadein 7.5s;
}

.links {
  text-align: center;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.links a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 85%;
  opacity: 0.6;
  transition: 0.5s;
}

.links a:hover {
  opacity: 1;
}

.quoteBox {
  display: flex;
  justify-content: center;
  animation: fadein 7.5s;
}

.quote {
  text-align: left;
  margin-top: 4%;
  width: 22%;
  font-size: 85%;
  transition: 0.5s;
  opacity: 0.6;
}

.quote a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

.quote:hover {
  opacity: 1;
}

.quote p {
  margin-top: 0;
  margin-bottom: 0;
}

/* Second Page */
.secondPage {
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin: 0 10% 5% 10%;
}

.secondPage p {
  font-weight: 100;
  font-family: sans-serif;
}

.secondHeader {
  display: flex;
  align-items: center;
}

.secondHeader h3 {
  opacity: 0.6;
  margin-left: 10%;
}

/* Contact & Stay Connected */
.footer {
  margin-top: 4%;
}

.footer a {
  text-decoration: none;
  color: white;
}

.contact {
  width: 50%;
}

.break {
  flex-basis: 100%;
  height: 0%;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .firstPage {
    margin-top: 50%;
  }

  .links {
    display: block;
    margin-bottom: 8%;
  }

  .secondHeader {
    display: block;
  }

  .secondHeader h1 {
    font-size: 140%;
  }

  .secondHeader h3 {
    font-size: 90%;
    margin-bottom: 15%;
  }

  .aboutMe {
    margin-bottom: 15%;
  }

  .aboutMe p {
    font-size: 110%;
  }
}

@media screen and (max-width: 850px) and (min-width: 481px) {
  .firstPage {
    margin-top: 40%;
  }

  .links {
    width: 80%;
    margin-bottom: 8%;
  }

  .aboutMe {
    margin-bottom: 10%;
  }

  .secondHeader {
    display: block;
  }

  .secondHeader h3 {
    margin-left: 0;
    margin-bottom: 8%;
  }
}

@media screen and (max-width: 1150px) and (min-width: 851px) {
  .firstPage {
    margin-top: 30%;
  }

  .links {
    width: 60%;
  }

  .secondHeader h1 {
    font-size: 150%;
  }

  .secondHeader h3 {
    font-size: 100%;
  }
}